

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


                <div class="col-sm-8 app-main-section">
                    <div class="row">
                        <div class="tile tile-blue kudi-header">
                            <h2 class="title"><img src="../Theme/images/apps/my-payments.png" /> Forgot your password?</h2>
                        </div>
                    </div>
                    <div class="margtop15">




                        <h2>Forgot your password?.</h2>

                        <form action="" class="form-horizontal" method="post" role="form">
                            <input name="__RequestVerificationToken" type="hidden" value="V35rPbw6lUj8V7BA6eaU5TomeOzpbOwElEPVesKv8Juvu2lcao82gznFAyvlyCfHmDz6qOcJvxeiLbmmNN6FqBENX6S3o6t3jqGfwxl57441" />    <h4>Enter your email.</h4>
                            <hr />
                            <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
                                <ul>
                                    <li style="display:none"></li>
                                </ul>
                            </div>    <div class="form-group">
                                <label class="col-md-2 control-label" for="Email">Phone Number</label>
                                <div class="col-md-10">
                                    <input class="form-control" data-val="true" data-val-required="The Phone Number field is required." id="Email" name="Email" placeholder="Enter Email" type="text" value="@Session["PhoneNo"]" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="button" class="btn btn-default" value="Email Link" />
                                </div>
                            </div>
                        </form>

                    </div>
                </div><!-- /.app-main-section -->

               