
<!--
==============
    Footer
==============
-->
<footer class="bg-white">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-12 pb-3">
                <a target="_blank" href="https://twitter.com/PayUpNG" class="text-muted">
                    <h1 class="display-4 d-inline-flex"><i class="icon-twitter"></i></h1>
                </a>
                <a target="_blank" href="https://www.facebook.com/PayUpNG" class="text-muted ml-3">
                    <h1 class="display-4 d-inline-flex"><i class="icon-facebook"></i></h1>
                </a>
            </div>
            <div class="col-12">
                <p class="text-muted">&copy; Copright @DateTime.Now.Year PayUp.</p>
            </div>
        </div>
    </div>
</footer>