<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Password Reset</title>
    <link href="../../CSS/styles.css" rel="stylesheet" />

</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<tr style="background-color:#0D3E65">
						<td class="alert alert-warning" style=" font-size: 16px;color: #fff;font-weight: 500;padding: 20px;text-align: center;border-radius: 3px 3px 0 0; background-color: #0D3E65;">
							TapaPay Account Creation
						</td>
					</tr>
					<tr>
						<td class="content-wrap" style="padding: 20px;">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block" style=" padding: 0 0 20px;">
										Hello {0}
									</td>
								</tr>
								<tr>
									<td class="content-block" style=" padding: 0 0 20px;">
										{0} requested for payment of N{1} from available wallet balance. Please view details of request below:
                                        <br/>
<br/>
                                        Payout Request code: {2} <br/>
                                        Amount: N{3} <br/>
                                        Bank: {4} <br/>
                                        Account No: {5} <br/>
                                        Phone No: {6} <br/>
                                        Date: {7} <br/>
									</td>
								</tr>
								<tr>
									<td class="content-block" style=" padding: 0 0 20px;">
									
									</td>
								</tr>
								<tr>
									<td class="content-block" style=" padding: 0 0 20px;">
										From TapaPay Team.
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
				
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
